

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">Моя Сторінка</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home_bp.home') }}">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home_bp.about') }}">Про мене</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home_bp.skills') }}">Навички</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('todo_bp.todo') }}">Todo</a>
                    </li>
                     {% if current_user.is_authenticated %}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('account_bp.account') }}> Профіль </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('post_bp.view_post') }}> Усі пости </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('post_bp.create') }}> Створити пост </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('post_bp.view_category') }}> Категорії </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('post_bp.view_tag') }}> Теги </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('feedback_bp.feedback') }}> Відгуки </a>
                            <a class="nav-link py-3 px-0 px-lg-3 rounded" href={{ url_for('auth_bp.users') }}> Користувачі </a>
                        </div>
                    </div>

                    {% else %}
                        <li class="nav-item"><a class="nav-link" href={{ url_for('auth_bp.login') }}> Увійти </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>